*
{
    margin: 0; padding: 0; box-sizing: border-box;
    
}
.rij
{
    margin: 10px auto;
    padding: 0 15px;
    max-width: 1400px;
    width: 100%;
}

body
{
    background-color: white;
    font-family: "verdana", "sans-serif";
    line-height: 1.42857;
    color: #262727;
}